In [1]:
import pandas as pd

df=pd.read_csv('../data/Video-Games-Sales.csv')

df.head()

,index,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
0,0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
1,1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
4,4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00

In [2]:
df.isna().sum()

index             0
Rank              0
Game Title        0
Platform          0
Year             29
Genre             0
Publisher         2
North America     0
Europe            0
Japan             0
Rest of World     0
Global            0
Review            0
dtype: int64

In [3]:
valores_nulos_Year = df['Year'].isnull()
print(df[valores_nulos_Year])

valores_nulos_Publisher = df['Publisher'].isnull()
print(df[valores_nulos_Publisher])

      index  Rank                                   Game Title Platform  Year  \
143     143   144                              Madden NFL 2004      PS2   NaN
253     253   254                         RollerCoaster Tycoon       PC   NaN
301     301   302                             FIFA Soccer 2004      PS2   NaN
373     373   374                   wwe Smackdown vs. Raw 2006      PS2   NaN
434     434   435                   LEGO Batman: The Videogame      Wii   NaN
523     523   524                                    Rock Band     X360   NaN
524     524   525     Frogger's Adventures: Temple of the Frog      GBA   NaN
573     573   574  LEGO Indiana Jones: The Original Adventures      Wii   NaN
582     582   583                               Call of Duty 3      Wii   NaN
646     646   647                                    Rock Band      Wii   NaN
746     746   747              Gran Turismo Concept 2001 Tokyo      PS2   NaN
936     936   937                                    Rock Band      PS3   NaN
1016   1016  1017                               Triple Play 99       PS   NaN
1030   1030  1031                      Call of Duty: Black Ops       PC   NaN
1275   1275  1276                          NASCAR Thunder 2003      PS2   NaN
1318   1318  1319                    Hitman 2: Silent Assassin       XB   NaN
1326   1326  1327                           Dragon Warrior VII      3DS   NaN
1386   1386  1387                   LEGO Batman: The Videogame      PSP   NaN
1424   1424  1425                                    Rock Band      PS2   NaN
1526   1526  1527                  Legacy of Kain: Soul Reaver       PS   NaN
1554   1554  1555                         Donkey Kong Land III       GB   NaN
1631   1631  1632                                 Suikoden III      PS2   NaN
1676   1676  1677                             Wheel of Fortune      PS2   NaN
1716   1716  1717                 Teenage Mutant Ninja Turtles      GBA   NaN
1752   1752  1753                                 Namco Museum       XB   NaN
1759   1759  1760                 LEGO Harry Potter: Years 5-7      Wii   NaN
1784   1784  1785                            Blitz: The League      PS2   NaN
1819   1819  1820                                     Yakuza 4      PS3   NaN
1899   1899  1900                                Madden NFL 07      PSP   NaN

             Genre                               Publisher  North America  \
143         Sports                         Electronic Arts           4.26
253       Strategy                                 Unknown           3.82
301         Sports                                 Unknown           0.59
373       Fighting                                     NaN           1.57
434      Adventure  Warner Bros. Interactive Entertainment           1.59
523           Misc                         Electronic Arts           1.88
524      Adventure                                 Unknown           2.15
573      Adventure                               LucasArts           1.44
582        Shooter                                 Unknown           1.13
646           Misc                               MTV Games           1.31
746         Racing                                 Unknown           0.00
936           Misc                         Electronic Arts           0.96
1016        Sports                                     NaN           0.81
1030       Shooter                              Activision           0.53
1275        Racing                                 Unknown           0.60
1318        Action                       Eidos Interactive           0.76
1326  Role-Playing                             Square Enix           0.00
1386     Adventure  Warner Bros. Interactive Entertainment           0.55
1424          Misc                                 Unknown           0.71
1526        Action                       Eidos Interactive           0.58
1554      Platform                                Nintendo           0.68
1631  Role-Playing                                 Unknown           0.29
1676          Misc                                 Unknown           0.47
1716      Platform                                 Unknown           0.67
1752          Misc                                 Unknown           0.77
1759        Action  Warner Bros. Interactive Entertainment           0.52
1784        Sports                                 Unknown           0.74
1819     Adventure                                    Sega           0.12
1899        Sports                                 Unknown           0.77

      Europe  Japan  Rest of World  Global  Review
143     0.26   0.01           0.71    5.23   87.00
253     0.01   0.00           0.00    3.83   87.00
301     2.36   0.04           0.51    3.49   81.00
373     1.02   0.00           0.41    3.00   91.00
434     0.86   0.00           0.27    2.72   80.00
523     0.31   0.00           0.21    2.40   77.00
524     0.18   0.00           0.07    2.39   69.00
573     0.57   0.00           0.21    2.22   81.00
582     0.82   0.00           0.23    2.18   69.91
646     0.54   0.00           0.20    2.05   80.13
746     1.10   0.42           0.33    1.84   80.00
936     0.39   0.00           0.21    1.55   91.23
1016    0.55   0.00           0.10    1.46   69.72
1030    0.70   0.00           0.22    1.44   78.10
1275    0.46   0.00           0.16    1.22   81.00
1318    0.38   0.00           0.05    1.19   84.63
1326    0.00   1.18           0.00    1.18   80.00
1386    0.36   0.00           0.23    1.14   80.00
1424    0.30   0.00           0.11    1.11   82.00
1526    0.40   0.00           0.07    1.04   88.16
1554    0.31   0.00           0.04    1.03   80.00
1631    0.23   0.38           0.08    0.98   87.00
1676    0.36   0.00           0.12    0.95   55.00
1716    0.25   0.00           0.02    0.93   69.00
1752    0.11   0.00           0.04    0.91   64.05
1759    0.30   0.00           0.09    0.91   79.00
1784    0.03   0.00           0.12    0.89   77.60
1819    0.09   0.63           0.04    0.87   79.98
1899    0.03   0.00           0.04    0.83   84.00
      index  Rank                  Game Title Platform  Year     Genre  \
373     373   374  wwe Smackdown vs. Raw 2006      PS2   NaN  Fighting
1016   1016  1017              Triple Play 99       PS   NaN    Sports

     Publisher  North America  Europe  Japan  Rest of World  Global  Review
373        NaN           1.57    1.02    0.0           0.41    3.00   91.00
1016       NaN           0.81    0.55    0.0           0.10    1.46   69.72

## Valores nulos de Year y Publisher los actualizaremos a mano, buscando la información en la red

In [4]:
df.iloc[143, 4] = 2003
df.iloc[253, 4] = 1999
df.iloc[301, 4] = 2003
df.iloc[373, 4] = 2005
df.iloc[434, 4] = 2008
df.iloc[523, 4] = 2007
df.iloc[524, 4] = 2001
df.iloc[573, 4] = 2008
df.iloc[582, 4] = 2006
df.iloc[646, 4] = 2007
df.iloc[746, 4] = 2001
df.iloc[936, 4] = 2007







valores_nulos_Year = df['Year'].isnull()
print(df[valores_nulos_Year])

      index  Rank                    Game Title Platform  Year         Genre  \
1016   1016  1017                Triple Play 99       PS   NaN        Sports
1030   1030  1031       Call of Duty: Black Ops       PC   NaN       Shooter
1275   1275  1276           NASCAR Thunder 2003      PS2   NaN        Racing
1318   1318  1319     Hitman 2: Silent Assassin       XB   NaN        Action
1326   1326  1327            Dragon Warrior VII      3DS   NaN  Role-Playing
1386   1386  1387    LEGO Batman: The Videogame      PSP   NaN     Adventure
1424   1424  1425                     Rock Band      PS2   NaN          Misc
1526   1526  1527   Legacy of Kain: Soul Reaver       PS   NaN        Action
1554   1554  1555          Donkey Kong Land III       GB   NaN      Platform
1631   1631  1632                  Suikoden III      PS2   NaN  Role-Playing
1676   1676  1677              Wheel of Fortune      PS2   NaN          Misc
1716   1716  1717  Teenage Mutant Ninja Turtles      GBA   NaN      Platform
1752   1752  1753                  Namco Museum       XB   NaN          Misc
1759   1759  1760  LEGO Harry Potter: Years 5-7      Wii   NaN        Action
1784   1784  1785             Blitz: The League      PS2   NaN        Sports
1819   1819  1820                      Yakuza 4      PS3   NaN     Adventure
1899   1899  1900                 Madden NFL 07      PSP   NaN        Sports

                                   Publisher  North America  Europe  Japan  \
1016                                     NaN           0.81    0.55   0.00
1030                              Activision           0.53    0.70   0.00
1275                                 Unknown           0.60    0.46   0.00
1318                       Eidos Interactive           0.76    0.38   0.00
1326                             Square Enix           0.00    0.00   1.18
1386  Warner Bros. Interactive Entertainment           0.55    0.36   0.00
1424                                 Unknown           0.71    0.30   0.00
1526                       Eidos Interactive           0.58    0.40   0.00
1554                                Nintendo           0.68    0.31   0.00
1631                                 Unknown           0.29    0.23   0.38
1676                                 Unknown           0.47    0.36   0.00
1716                                 Unknown           0.67    0.25   0.00
1752                                 Unknown           0.77    0.11   0.00
1759  Warner Bros. Interactive Entertainment           0.52    0.30   0.00
1784                                 Unknown           0.74    0.03   0.00
1819                                    Sega           0.12    0.09   0.63
1899                                 Unknown           0.77    0.03   0.00

      Rest of World  Global  Review
1016           0.10    1.46   69.72
1030           0.22    1.44   78.10
1275           0.16    1.22   81.00
1318           0.05    1.19   84.63
1326           0.00    1.18   80.00
1386           0.23    1.14   80.00
1424           0.11    1.11   82.00
1526           0.07    1.04   88.16
1554           0.04    1.03   80.00
1631           0.08    0.98   87.00
1676           0.12    0.95   55.00
1716           0.02    0.93   69.00
1752           0.04    0.91   64.05
1759           0.09    0.91   79.00
1784           0.12    0.89   77.60
1819           0.04    0.87   79.98
1899           0.04    0.83   84.00